/* MadCap Table Style: */

/*<meta Version="7" />*/

@media Dx_Package_Insert
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		separator-style: solid;
		separator-width: 1pt;
		separator-color: #666666;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Horiz;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 11pt;
	margin-bottom: 13pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #b2b2b2;
	border-top-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 0pt;
	cell-padding-left: 0pt;
	cell-padding-right: 0pt;
	cell-padding-bottom: 0pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #b2b2b2;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #ffb441;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #b2b2b2;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #b2b2b2;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
@media Dx_Package_Insert
{
	.TableStyle-Horiz
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Horiz .HeadE-Column1-Header1
	{
		border-bottom-width: 1pt;
		border-bottom-color: #666666;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz .HeadF-Column1-Header1
	{
		border-bottom-width: 1pt;
		border-bottom-color: #666666;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz .HeadD-Column1-Header1
	{
		border-bottom-width: 1pt;
		border-bottom-color: #666666;
		border-bottom-style: solid;
	}
}

.TableStyle-Horiz
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-color: #b2b2b2;
	border-bottom-width: 1px;
	margin-left: 0.25in;
	margin-right: 0in;
	margin-top: 11pt;
	margin-bottom: 13pt;
	border-spacing: 0px 0px;
}

.TableStyle-Horiz .Column-Column1
{
	
}

.TableStyle-Horiz .Head-Header1
{
	
}

.TableStyle-Horiz .HeadI-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .HeadI-Column1-Header1 p
{
	
}

.TableStyle-Horiz .HeadE-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #b2b2b2;
	border-right-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #ffb441;
	border-bottom-style: solid;
}

.TableStyle-Horiz .HeadE-Column1-Header1 p
{
	
}

.TableStyle-Horiz .HeadF-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-width: 1pt;
	border-bottom-color: #ffb441;
	border-bottom-style: solid;
}

.TableStyle-Horiz .HeadF-Column1-Header1 p
{
	
}

.TableStyle-Horiz .HeadH-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #b2b2b2;
	border-right-style: solid;
}

.TableStyle-Horiz .HeadH-Column1-Header1 p
{
	
}

.TableStyle-Horiz .HeadD-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-width: 1pt;
	border-bottom-color: #ffb441;
	border-bottom-style: solid;
}

.TableStyle-Horiz .HeadD-Column1-Header1 p
{
	
}

.TableStyle-Horiz .HeadC-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .HeadC-Column1-Header1 p
{
	
}

.TableStyle-Horiz .HeadB-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #b2b2b2;
	border-right-style: solid;
}

.TableStyle-Horiz .HeadB-Column1-Header1 p
{
	
}

.TableStyle-Horiz .HeadA-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .HeadA-Column1-Header1 p
{
	
}

.TableStyle-Horiz .HeadG-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .HeadG-Column1-Header1 p
{
	
}

.TableStyle-Horiz .Foot-Footer1
{
	
}

.TableStyle-Horiz .FootI-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .FootI-Column1-Footer1 p
{
	
}

.TableStyle-Horiz .FootE-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #b2b2b2;
	border-right-style: solid;
}

.TableStyle-Horiz .FootE-Column1-Footer1 p
{
	
}

.TableStyle-Horiz .FootF-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .FootF-Column1-Footer1 p
{
	
}

.TableStyle-Horiz .FootH-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #b2b2b2;
	border-right-style: solid;
}

.TableStyle-Horiz .FootH-Column1-Footer1 p
{
	
}

.TableStyle-Horiz .FootD-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .FootD-Column1-Footer1 p
{
	
}

.TableStyle-Horiz .FootC-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .FootC-Column1-Footer1 p
{
	
}

.TableStyle-Horiz .FootB-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #b2b2b2;
	border-right-style: solid;
}

.TableStyle-Horiz .FootB-Column1-Footer1 p
{
	
}

.TableStyle-Horiz .FootA-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .FootA-Column1-Footer1 p
{
	
}

.TableStyle-Horiz .FootG-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .FootG-Column1-Footer1 p
{
	
}

.TableStyle-Horiz .Body-Body1
{
	
}

.TableStyle-Horiz .BodyI-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .BodyI-Column1-Body1 p
{
	
}

.TableStyle-Horiz .BodyE-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-width: 1px;
	border-bottom-color: #b2b2b2;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #b2b2b2;
	border-right-style: solid;
}

.TableStyle-Horiz .BodyE-Column1-Body1 p
{
	
}

.TableStyle-Horiz .BodyF-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-width: 1px;
	border-bottom-color: #b2b2b2;
	border-bottom-style: solid;
}

.TableStyle-Horiz .BodyF-Column1-Body1 p
{
	
}

.TableStyle-Horiz .BodyH-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #b2b2b2;
	border-right-style: solid;
}

.TableStyle-Horiz .BodyH-Column1-Body1 p
{
	
}

.TableStyle-Horiz .BodyD-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-width: 1px;
	border-bottom-color: #b2b2b2;
	border-bottom-style: solid;
}

.TableStyle-Horiz .BodyD-Column1-Body1 p
{
	
}

.TableStyle-Horiz .BodyC-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .BodyC-Column1-Body1 p
{
	
}

.TableStyle-Horiz .BodyB-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #b2b2b2;
	border-right-style: solid;
}

.TableStyle-Horiz .BodyB-Column1-Body1 p
{
	
}

.TableStyle-Horiz .BodyA-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .BodyA-Column1-Body1 p
{
	
}

.TableStyle-Horiz .BodyG-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .BodyG-Column1-Body1 p
{
	
}

.TableStyle-Horiz .Body-Body2
{
	
}

.TableStyle-Horiz .BodyI-Column1-Body2
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .BodyI-Column1-Body2 p
{
	
}

.TableStyle-Horiz .BodyE-Column1-Body2
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-width: 1px;
	border-bottom-color: #b2b2b2;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #b2b2b2;
	border-right-style: solid;
}

.TableStyle-Horiz .BodyE-Column1-Body2 p
{
	
}

.TableStyle-Horiz .BodyF-Column1-Body2
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-width: 1px;
	border-bottom-color: #b2b2b2;
	border-bottom-style: solid;
}

.TableStyle-Horiz .BodyF-Column1-Body2 p
{
	
}

.TableStyle-Horiz .BodyH-Column1-Body2
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #b2b2b2;
	border-right-style: solid;
}

.TableStyle-Horiz .BodyH-Column1-Body2 p
{
	
}

.TableStyle-Horiz .BodyD-Column1-Body2
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-width: 1px;
	border-bottom-color: #b2b2b2;
	border-bottom-style: solid;
}

.TableStyle-Horiz .BodyD-Column1-Body2 p
{
	
}

.TableStyle-Horiz .BodyC-Column1-Body2
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .BodyC-Column1-Body2 p
{
	
}

.TableStyle-Horiz .BodyB-Column1-Body2
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #b2b2b2;
	border-right-style: solid;
}

.TableStyle-Horiz .BodyB-Column1-Body2 p
{
	
}

.TableStyle-Horiz .BodyA-Column1-Body2
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .BodyA-Column1-Body2 p
{
	
}

.TableStyle-Horiz .BodyG-Column1-Body2
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Horiz .BodyG-Column1-Body2 p
{
	
}


