/*<meta />*/

/*
// {{MadCap}} //////////////////////////////////////////////////////////////////
// Copyright: MadCap Software, Inc - www.madcapsoftware.com ////////////////////
////////////////////////////////////////////////////////////////////////////////
// <version>8.0.0.0</version>
////////////////////////////////////////////////////////////////////////////////
*/

.MCDropDown
{
	
}

.MCDropDownHead
{
	
}

.MCDropDownHotSpot
{
	
}

.MCDropDownBody
{
	
}

.MCDropDownIcon
{
	border: none;
}

.MCExpanding
{
	
}

.MCExpandingHead
{
	
}

.MCExpandingBody
{
	
}

.MCExpandingIcon
{
	border: none;
}

.MCKLink
{
	
}

.MCKLinkSpot
{
	
}

.MCKLinkBody
{
	background-color: #bbccdd;
	border: solid 1px #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	cursor: pointer;
	cursor: hand;
	filter: alpha( opacity = 100 );
	-moz-opacity: 1.0;
	z-index: 2;
}

.MCKLinkBodyBG
{
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	filter: alpha( opacity = 100 );
	-moz-opacity: 1.0;
	z-index: 1;
}

.MCKLinkBodyCell_Highlighted
{
	padding: 5px;
	background-color: Blue;
	color: White;
}

.MCKLinkBodyCell
{
	padding: 5px;
	background-color: Transparent;
	color: Black;
}

.MCKeywordLinkIcon
{
	border: none;
}

.MCConceptLinkIcon
{
	border: none;
}

.MCRelatedTopicsIcon
{
	border: none;
}

.MCPopup
{
	
}

a.MCPopupSpot
{
	
}

.MCPopupBody
{
	background-color: #ffffff;
	border: solid 1px #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 2;
}

.MCPopupBodyBG
{
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 1;
}

.MCTextPopup
{
	
}

.MCTextPopupSpot
{
	
}

.MCTextPopupBody
{
	background-color: #bbccdd;
	border: solid 1px #000000;
	margin: 0px;
	padding: 5px;
	position: absolute;
	overflow: auto;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 2;
}

.MCTextPopupBodyBG
{
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 1;
}

.MCPopupThumbnail
{
	border: none;
}

.MCPopupThumbnail_Popup
{
	border: solid 1px Gray;
	position: absolute;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 102;
}

.MCToggler
{
	
}

.MCTogglerIcon
{
	border: none;
}

div.MCDialogWrapper
{
	width: 400px;
	position: fixed;
	z-index: 110;
}

div.MCDialog
{
	width: 400px;
	position: absolute;
	padding: 10px;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 2;
}

div.MCDialogShadow
{
	width: 400px;
	position: absolute;
	padding: 10px;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 1;
}

div.MCDialog table.MCDialogOuterTable
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
	border-collapse: collapse;
	table-layout: fixed;
}

div.MCDialog table.MCDialogOuterTable td.Label
{
	vertical-align: top;
}

endnotesBlock
{
	display: block;
}

endnoteBlock
{
	display: block;
}

footnotesBlock
{
	display: block;
}

footnoteBlock
{
	display: block;
}

div.MCMiniTocBox_0
{
	border-top-style: none;
	padding-left: 0px;
	border-top-width: 1px;
	border-top-color: black;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 6px;
	padding-bottom: 6px;
}

p.MiniTOC1_0
{
	display: block;
	margin: 1.12em 0;
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	text-align: left;
	margin-left: 0;
	margin-right: 0in;
	margin-top: 3pt;
	margin-bottom: 1pt;
	font-size: 13px;
	color: #3D84CC;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

iframe.MCTopicToolbar_0
{
	margin-top: 0px;
	padding-top: 0px;
	border-top-width: 0px;
	text-align: left;
}

iframe.topicToolbarProxy_1
{
	margin-top: 0px;
	padding-top: 0px;
	border-top-width: 0px;
	text-align: right;
}

a._0
{
	color: #262626;
}

table.AutoNumber_li
{
	margin-left: 0.0in;
	padding-left: 0.0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
}

td.AutoNumber_li
{
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 10pt;
}

a.MCXref_0
{
	color: #3D84CC;
	text-decoration: none;
}

table.AutoNumber_p_Bullet1
{
	text-align: left;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 2pt;
	letter-spacing: 0em;
	text-decoration: none;
	text-decoration-blink: false;
	text-indent: 0px;
	margin-left: 0.25in;
}

td.AutoNumber_p_Bullet1
{
	text-align: left;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	text-decoration: none;
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	color: #333333;
	font-size: 13px;
	line-height: 18px;
}

table.AutoNumber_p_Bullet2
{
	text-align: left;
	margin-left: 0.5in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 2pt;
	letter-spacing: 0em;
	text-decoration: none;
	text-decoration-blink: false;
}

td.AutoNumber_p_Bullet2
{
	text-align: left;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #262626;
	text-decoration: none;
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

table.AutoNumber_p_CellBullet
{
	text-align: left;
	margin-left: 0.15in;
	margin-right: 4pt;
	margin-top: 2pt;
	margin-bottom: 3pt;
	letter-spacing: 0em;
	text-decoration: none;
	text-decoration-blink: false;
}

td.AutoNumber_p_CellBullet
{
	text-align: left;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #262626;
	text-decoration: none;
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 16px;
}

a.MiniTOC1:link
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-variant: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	color: #3D84CC;
	font-size: 13px;
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

a._0:link
{
	color: #7ca8d4;
	text-decoration: none;
}

a._0:visited
{
	color: #7ca8d4;
	text-decoration: none;
}

a._0:focus
{
	outline: thin dotted invert;
}

a._0:hover
{
	background-color: #ffffff;
}

a.MCXref_0:link
{
	color: #3D84CC;
	text-decoration: none;
}

a.MCXref_0:visited
{
	color: #3D84CC;
	text-decoration: none;
}

a.MCXref_0:focus
{
	
}

a.MCXref_0:hover
{
	color: #3D84CC;
}

